Exercise 1
A companyâ€™s financial reports stored in an Excel file - structured. 
Photographs uploaded to a social media platform - unstructured.
A collection of news articles on a website - unstructured.
Inventory data in a relational database - structured.
Recorded interviews from a market research study - unstructured.

Exercise 2
A series of blog posts about travel experiences: convert text into a structured table with columns for title, location, date, keywords, sentiment analysis, etc.

Audio recordings of customer service calls: use speech-to-text (NLP models like Whisper) to transcribe calls into text, then structure data with categories like topic, sentiment, and keywords.

Handwritten notes from a brainstorming session: use OCR (Optical Character Recognition) tools to digitize text and structure it into a categorized list.

A video tutorial on cooking: extract metadata (title, duration, ingredients list), use video-to-text transcription for speech, and segment actions into structured steps.

In [1]:
# Exercise 3
import pandas as pd 

df_train = pd.read_csv('/Users/patash/PSTB/Week_2/day_2/data/train.csv')
print(df_train.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [3]:
# Exercise 4
iris = pd.read_csv('/Users/patash/PSTB/Week_2/day_1/data/iris.csv')
print(iris.head())

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
# Exercise 5
# json
iris.to_json('iris_export.json', index=False)

# xlsx
iris.to_excel('iris_export.xlsx', index=False)

In [8]:
# Exercise 6
iris_json = pd.read_json('/Users/patash/PSTB/Week_2/day_2/iris_export.json')
iris_json.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa